*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

main{
  position: absolute;
}

.container{
  padding-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw;
  background-color: black;
}

.cam{
  width: 220px;
  position: relative;
  font-size: 14px;
}

.cam img{
  width: 100%;
}

.text-img{
  color: white;
  position: absolute;
  bottom: 3px;
  left: 0px;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.40);
}

.menu{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background-color: #222222;
  position: fixed;
  bottom: 0;
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 15px;
  padding: 15px 0;
  color: white;
  background-color: #222222;
}

.left-nav{
  width: 15%;
  padding-left: 10px;
}

.nav span i{
  font-size: 25px;
  padding-bottom: 5px;
}

.nav span{
  cursor: pointer;
}

.left-nav i{
  font-size: 10px;
  cursor: pointer;
}

.center-nav{
  width: 50%;
}

.center-nav i{
  cursor: pointer;
  padding: 0 5px;
}

.active{
  color: #4BC800;
}

.right-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  background-color: #4A4A4A;
  color: #d30000;
}